<html>
    <head><link rel ="stylesheet" href="{{ asset ('css/main.css')}}"/></head>
    <body>
        <h1>Liste des catégories</h1>
        {%for cat in categorie%}
            <p>{{cat.nom}}</p>
            {%else%}
                <p>Aucune catégorie n'a été trouvée .</p>
        {% endfor%}
            
    </body>
</html>