{% block content %}
    <h3>Les derniers annonces </h3>
    {% render "formationAnnonceBundle:Annonce:Top" %}
   <!-- ajouter la route ! 
   au lieu d'accéder seulement à la page avc la mèthode top , on peut faire appel à plusiers
   mèthodes et ajouter à la route seulement la route de la pade twig !--> 
{% endblock %}
    
    
       