.jumbotron
{
padding-top:30px;
padding-bottom:30px;
margin-bottom:30px;
color:inherit;
background-image: url("images.jpg");
background-repeat: no-repeat;
background-size:cover ;
 background-color:#eee}